<div class="container d-flex justify-content-center flex-column">

  <h1 class="mt-4"> Hi <%= current_user.email %></h1>

  <div class="row d-flex gap-3 justify-content-around my-4">
    <div class="col-3 card border-0 bg-white">
      <div class="card-body">
        <p class="text-muted"> Total for the last 30 days</p>
        <div class="text-center fs-2 text-primary">
          <%= @earthquakes.size %>
        </div>
      </div>
    </div>

    <div class="col-3 card border-0 bg-white">
      <div class="card-body">
        <p class="text-muted"> Average Magnitude</p>
        <div class="text-center fs-2 text-primary">
          <% valid_magnitudes = @earthquakes.reject{ |c| c[:magnitude].nil? }.pluck(:magnitude) %>
          <% average = valid_magnitudes.sum / valid_magnitudes.size.to_f %>
          <%= average.round(2) %>
        </div>
      </div>
    </div>
  </div>

  <span class="fs-4 text-center text-muted"> Total of Earthquakes per magnitude range</span>
  <div class="d-flex justify-content-center" data-controller="chart" data-chart-earthquakes-value="<%= @earthquakes.to_json %>" style="height:500px;">
    <canvas data-chart-target="canvas"></canvas>
  </div>

</div>
